<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao BlogWeb</h1>
  <p class="lead">Site para aprender coisas novas e avançar para o proximo nivel.</p>
  <hr class="my-4">
  <p>Para começar, crie uma conta para ver postagens ou criar postagens</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Criar conta</a>
</div>
<h2>Pagina de Postagens</h2>